{% extends 'base.html.twig' %}

{% block title %}Opposition index{% endblock %}

{% block body %}


<div class="container"> 

    <div class="equipe">

    </div>

    <div class="equipe1">
    
    </div>

</div>


{% endblock %}